// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-btn-cancell {
  color: #000;
}
img {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.topic-index-icon {
  width: 35px;
  height: 30px;
  margin-left: 20px;
}
